@model IEnumerable<Entidades.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro De Empleados</h1>
<br />

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Empleado</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("NOMBRE:")
                </th>
                <th>
                    @Html.DisplayName("SUELDO:")
                </th>
                <th>
                    @Html.DisplayName("ROL:")
                </th>
                <th>
                    @Html.DisplayName("FOTOGRAFIA:")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sueldo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Objeto_Rol.Nombre)
                    </td>
                    <td>
                        @{
                            // Es La Imagen En Base64
                            string Imagen_Mostar = "";

                            if (item.Fotografia != null && item.Fotografia.Length > 0)
                            {
                                string Cadena_Imagen = Convert.ToBase64String(item.Fotografia);
                                Imagen_Mostar = "data:image/jpeg;base64," + Cadena_Imagen;
                            }

                            if (Imagen_Mostar.Trim().Length > 0)
                            {
                                <img id="VistaImagenEmpleado" src="@Imagen_Mostar" style="max-width:100px; max-height:100px" />
                            }
                        }            
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Acciones">
                            <a asp-action="Edit" asp-route-id="@item.IdEmpleado" class="btn btn-primary rounded">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdEmpleado" class="btn btn-secondary rounded">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.IdEmpleado" class="btn btn-danger rounded">Eliminar</a>
                        </div>
                        <style>
                            .btn-group {
                                display: flex;
                                gap: 5px;
                            }

                            .btn {
                                flex: 1;
                                border-radius: 5px;
                            }
                        </style>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

