@model List<Entidades.Factura>

@{
    Layout = null;
}

<style>
    /* Agrega estilos CSS personalizados aquí */

    /* Estilos para la tabla principal */
    table {
        width: 100%; /* Ancho del 100% para que la tabla ocupe todo el espacio disponible */
        border-collapse: collapse; /* Colapsa los bordes de las celdas para que se vean como una tabla continua */
    }

    /* Estilos para las celdas de encabezado y contenido */
    th, td {
        border: 2px solid #000; /* Borde sólido de 2 píxeles de grosor y color negro */
        padding: 10px; /* Relleno interno de 8 píxeles para separar el contenido del borde */
        text-align: center; /* Centra el contenido dentro de las celdas */
    }

    th {
        background-color: #f2f2f2; /* Color de fondo gris claro para los encabezados */
    }

    .subtotal {
        font-weight: bold; /* Texto en negrita para resaltar los subtotales */
    }
</style>

<table>
    <thead>
        <tr>
            <th>N° FACTURA</th>
            <th>FECHA</th>
            <th>CORRELATIVO</th>
            <th>EMPLEADO</th>
            <th>CLIENTE</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdFactura</td>
                <td>@item.Fecha?.ToString("yyyy-MM-dd")</td>
                <td>@item.Correlativo</td>
                <td>@item.Objeto_Empleado.Nombre</td>
                <td>@item.Cliente</td>
                <td>$ @item.Total</td>
            </tr>
            <tr>
                <td colspan="6">
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                decimal? subtotal = 0;
                            }
                            @foreach (var Objeto_Detalle in item.Lista_DetalleFactura)
                            {
                                // Guardar Un Subtotal:
                                subtotal += Objeto_Detalle.Precio * Objeto_Detalle.Cantidad;

                                <tr>
                                    <td>@Objeto_Detalle.Producto</td>
                                    <td>@Objeto_Detalle.Cantidad</td>
                                    <td>$ @Objeto_Detalle.Precio</td> <!-- Añade el signo de dólar -->
                                </tr>
                            }
                            <tr>
                                <td class="subtotal" colspan="2">Subtotal</td>
                                <td class="subtotal">$ @subtotal</td> <!-- Añade el signo de dólar -->
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>