 
@{
    Layout = null;
}
@model IEnumerable<Entidades.DetalleFactura>
<input type="hidden" name="accion" value="@ViewBag.Accion" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nombre Del Producto")
            </th>
            <th> 
                @Html.DisplayName("Cantidad A LLevar")
            </th> 
            <th> 
                @Html.DisplayName("Precio Del Producto")
            </th>
            <th>
                @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                {
                    <button type="submit" class="btn btn-primary" formaction="@Url.Action("Agregar_Fila")">Agregar</button>
                }

            </th>
        </tr>

    </thead>
    <tbody>
        @{
            int index = -1;
        }
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                index++;
                if (item.IdDetalle > -1)
                {
                    <tr>
                        <td>
                            <input type="hidden" value="@item.IdDetalle" name="Lista_DetalleFactura[@index].IdDetalle">
                            <input type="hidden" value="@item.IdFacturaEnDetalle" name="Lista_DetalleFactura[@index].IdFacturaEnDetalle">

                            <input class="form-control" data-readonly type="text" name="Lista_DetalleFactura[@index].Producto" value="@item.Producto">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="number" name="Lista_DetalleFactura[@index].Cantidad" value="@item.Cantidad">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="number" name="Lista_DetalleFactura[@index].Precio" value="@item.Precio">
                        </td>

                        <td>
                            @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                            {
                                <button name="index" value="@index" class="btn btn-secondary" type="submit" formaction="@Url.Action("Eliminar_Fila")">Eliminar</button>
                            }

                        </td>
                    </tr>
                }
                else
                {
                    <tr style="display:none">
                        <td>
                            <input type="hidden" value="@item.IdDetalle" name="Lista_DetalleFactura[@index].IdDetalle">
                            <input type="hidden" value="@item.IdFacturaEnDetalle" name="Lista_DetalleFactura[@index].IdFacturaEnDetalle">
                            <input type="hidden" name="Lista_DetalleFactura[@index].Producto" value="@item.Producto">
                            <input type="hidden" name="Lista_DetalleFactura[@index].Cantidad" value="@item.Cantidad">
                            <input type="hidden" name="Lista_DetalleFactura[@index].Precio" value="@item.Precio">
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>



@if (ViewBag.Accion == "Details" || ViewBag.Accion == "Delete")
{
    <script>

        const readOnly = document.querySelectorAll("*[data-readonly]");
        for (var i = 0; i < readOnly.length; i++) {
            const item = readOnly[i];
            item.setAttribute("readonly", true);
        }

    </script>
}

